@using OrchardCore.ContentManagement
@using OrchardCore.GreenHouse.Models
@{
    ContentItem contentItem = Model.ContentItem;

    var flowerPart = contentItem.As<FlowerPart>();
}

<tr>
    <td>
        @contentItem.DisplayText
        <strong>Content-flower.summary displayText </strong>
    </td>

    <td>
        <div>
            @flowerPart.CommonName
        </div>
        <div>
            @flowerPart.ScientificName
        </div>
        <strong>I am the flowerPart.common name Content-Flower.summary.cshtml</strong>
    </td>
</tr>
