@using OrchardCore.ContentManagement
@using OrchardCore.GreenHouse.Models
@{
    ContentItem contentItem = Model.ContentItem;
}

<tr>
    <td>
        @await DisplayAsync(Model.Content)
    </td>

    <td>
        @await DisplayAsync(Model.Content)
    </td>
</tr>

<style scoped>
    .email {
        background-color: lightgray;
    }
</style>

@* Views/Content-Employee.Summary.cshtml *@