@using OrchardCore.ContentManagement
@using OrchardCore.GreenHouse.Models

@{
    ContentItem contentItem = Model.ContentItem;
    var vegetablePart = contentItem.As<VegetablePart>();
}

<tr>
    <td>
        @contentItem.DisplayText
        <strong>Content-flower.summary displayText </strong>
    </td>

    <td>
        <div>
            @vegetablePart.CommonName
        </div>
        <div>
            @vegetablePart.ScientificName
        </div>
        <strong>I am the vegetablePart.common name Content-Flower.summary.cshtml</strong>
    </td>
</tr>