<div class="card mb-3">

    @if (Model.Header is not null)
    {
        <div class="card-header">
            @await DisplayAsync(Model.Header)
            <div>VegetableFilter.Edit.cshtml header Where do we find this?</div>
        </div>
    }

    <div class="card-body">
        @await DisplayAsync(Model.Body)
        <div>VegetableFilter.Edit.cshtml body </div>
    </div>

    @if (Model.Footer is not null)
    {
        <div class="card-footer">
            @await DisplayAsync(Model.Footer)
            <div>VegetableFilter.Edit.cshtml footer where is this?</div>
        </div>
    }

</div>

<style>
    .card {
        background-color: red;
    }
</style>