@model OrchardCore.GreenHouse.ViewModels.EmployeePartViewModel
@using OrchardCore.GreenHouse.ViewModels

<p>Employee</p>

<div>@T["Employee Email: {0}", Model.Email]</div>
<div>@T["Employee Age: {0}", Model.Phone]</div>
