@model OrchardCore.GreenHouse.ViewModels.ReviewPartViewModel

<div>
    <span>Name: @Model.Name</span>
    <span>Email: @Model.Email</span>
    <span>Review: @Model.Review</span>
    <span>Rating: @Model.Rating</span>
</div>
<!-- Views/ReviewPart.cshtml -->
