@using OrchardCore.Module.Training.ViewModels
@model AnimalPartViewModel

<h2>Animal Details</h2>

<div>
    <strong>Species:</strong> @Model.Species
</div>
<div>
    <strong>Habitat:</strong> @Model.Habitat
</div>
