@using OrchardCore.Module.Training.ViewModels
@model AnimalPartViewModel

<div class="animal-summary-admin">
    <strong>@T["Species:"]</strong> @Model.Species
    <br />
    <strong>@T["Habitat:"]</strong> @Model.Habitat
</div>
